{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron">
    <div class="text-left">
        <b>Админ панель</b>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Таблица</th>
                <th>Количество записей</th>
                <th>Добавить</th>
            </tr>
        </thead>
        <tbody>
            {% for model in models %}
            <tr>
                <td><a href="{{model.meta.app_label}}/{{model.meta.model_name}}" class="table-link">{{model.meta.verbose_name_plural }}</a></td>
                <td>{{model.objects.count}}</td>
                <td><a href="{{model.meta.app_label}}/{{model.meta.model_name}}/add" class="table-link">+</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
