{% extends 'admin_panel/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'admin_panel/style/main.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron">
<div>
	<a href="{% url 'admin_home' %}" style="text-decoration: underline;">Админ панель</a> >
	<a href="../" style="text-decoration: underline;">{{ meta.verbose_name_plural }}</a> >
	<b>{{ object.topic }}</b>
</div>
	{% if object %}
	{% include 'admin_panel/view_on_site.html' %}
	{% endif %}
	{% include 'app/message.html' %}
  	<div>
		<div>
             {% for ner in form.non_field_errors %}
                <span class="form-error-message">{{ ner }}</span>
             {% endfor %}
         </div>
		<form action="" method="post">
			{% csrf_token %}
			{% for f in form %}
			<div class="form-group">
				<label for="{{ f.id_for_label }}">{{ f.label }}</label>
				{{ f }}
				{% for er in f.errors %}
				<span class="form-error-message">{{ er }}</span><br>
				{% endfor %}
			</div>
			{% endfor %}
			<input type="submit" class="btn btn-success" value="Сохранить">
		</form>
	</div>
</div>
{% endblock %}