{% extends 'admin_panel/base.html' %}
{% load tags %}

{%block style%}
<style>
    table{
        width: 100%;
    }
</style>
{%endblock%}

{% block content %}
<div class="jumbotron">
<div>
    <a href="{% url 'admin_home' %}" style="text-decoration: underline;">Админ панель</a> > <b>{{ meta.verbose_name_plural }}</b>
</div>
    <div style="display: flex; justify-content: right; margin: 5pt 0;">
        <a href="add">
            <button class="btn btn-success">Новый</button>
        </a>
    </div>

    {% if not objects %}
    <p class="text-center">Записи отсутствуют</p>
    {% else %}
    <table class="table hover-table table-bordered">
        <thead>
            <tr>
                {% for field in list_display %}
                    <th>{% get_attr_verbose_name_from_meta meta field %}</th>
                {% endfor %}
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
                <tr>
                    {% for field in list_display %}
                        {% get_attr object field as f %}
			{% is_bool f as b_f_r  %}
			{% if b_f_r %}
			<td><a href="{{ object.pk }}" class="table-link">{% if f %}+{% else %}-{% endif %}</a></td>
			{% else %}
			<td><a  href="{{ object.pk }}" class="table-link">{{ f|truncatechars:50 }}</a></td>
			{% endif %}

		    {% endfor %}
                    <td>
                        <a href="{{ object.pk }}/delete" class="table-link text-danger">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
{% endblock content %}
