{% extends 'admin_panel/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'admin_panel/style/main.css' %}">
{% endblock %}


{% block content %}
<div class="jumbotron">
	<div>
	<a href="{% url 'admin_home' %}" style="text-decoration: underline;">Админ панель</a> >
	<a href="../" style="text-decoration: underline;">{{ meta.verbose_name_plural }}</a> >
	<b>{{ object.topic }}</b>
</div>
	{% include 'app/message.html' %}
	<div>
		<div>
			{% for ner in form.non_field_errors %}
				<span class="form-error-message">{{ ner }}</span>
			{% endfor %}
			{% for f in form %}
				{% for er in f.errors %}
					<span class="form-error-message">{{ er }}</span><br>
				{% endfor %}
			{% endfor %}
         </div>
		<form action="" method="post">
			{% csrf_token %}
			<label>Заголовок теста:</label>
			<input type="text" class="form-control" name="test_title" value="{{ object.topic }}">
			<label>Отображение:</label>
			<input type="checkbox" class="form-checkbox" name="test_visible" {% if not object or object.visible %}checked{% endif %}>
			<hr/>
			<div class="questions">
				{% for question in object.test_json %}
                <div class="panel question">
					<div class="form-group">
						<label>Вопрос:</label>
						<input type="text" class="form-control" name="question_text" value="{{ question.text }}">
						<label>Несколько ответов:</label>
						<input type="checkbox" class="form-checkbox" name="is_multianswer" {% if question.multiasnwer %}checked{% elif not object %}checked{% endif %}>
					</div>

					<div class="answers">
						{% for answer in question.answers %}
                        <div class="answer form-group form-inline" >
							<label class="control-label">Ответ:</label>
							<input style="width: 100%;" type="text" class="form-control" name="answer_text" value="{{ answer.answer }}">
							<label>Правильный:</label>
							<input type="checkbox" class="form-checkbox" name="is_right" {% if answer.right %}checked{% endif %}>
							<button type="button" class="btn btn-danger remove-answer"><span class="glyphicon glyphicon-trash"></span></button>
						</div>
                        {% endfor %}
					</div>
					<button type="button" class="btn btn-danger del-question">Удалить ответ</button>
					<button type="button" class="btn btn-success add-answer" >Добавить ответ</button><br>
				</div>
                {% endfor %}
			</div>

			<button type="button" class="btn btn-success add-question">Добавить вопрос</button>
			<button type="submit" class="btn btn-success submit">Сохранить</button>
		</form>
	</div>
</div>
<div class="hide-block" style="display: none">
	<!--Мне стыдно за этот костыль-->
	<form action="" method="post">
	{%	csrf_token%}
	{{form}}
	</form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'admin_panel/scripts/test.js' %}"></script>
{% endblock %}
