{% extends 'admin_panel/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'admin_panel/style/main.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron">
<div>
	<a href="{% url 'admin_home' %}" style="text-decoration: underline;">Админ панель</a> >
	<a href="../" style="text-decoration: underline;">{{ meta.verbose_name_plural }}</a> >
	<b>{{ object.username }}</b>
</div>
  <div>
		<form action="" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit">
		</form>
	</div>
</div>
{% endblock %}