.bgimg{ 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999999;
}


.bgimg::before{
  content: '';
  background-image: url("https://bogatyr.club/uploads/posts/2023-02/thumbs/1677300805_bogatyr-club-p-formuli-na-doske-foni-1.jpg");
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999999;
}



::-webkit-scrollbar {
    width: 0px;
}

body{
    background-color: #D2D7DF;
}

.spanel:hover {
    background-color: #353535;
    color: #D2D7DF; 
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: rgb(60, 60, 60);
}


.panel {
    padding-bottom: 25px;
    background-color: rgb(230, 230, 230);
}

.panel,
.panel:hover {
    transition-duration: 0.25s;
}

.grid-item>a>div{
    height: 150px;
}


a.null-link:hover>div{
    color: #ff000090;
}

.list-link-item>.panel {
    padding: 15px;
    font-size: 15pt;
}

.list{
        text-align: justify;
}

.jumbotron{
    margin-bottom: 10pt;
}

.form-content{
    width: 275pt;
}
.form-error-message{
    color: #FF6060;
}

@media only screen and (min-width: 768px) {
    .form-block{
        display: flex;
        justify-content: center;
    }
    .list{
        text-align: center;
    }
}

form label, form > button{
    width: 100%;
    margin-top: 5pt;
}

.table-link{
    display: block;
}

thead{
    background-color: #353535;
    color: #D2D7DF;
}
