::-webkit-scrollbar {
    width: 0px;
}

body{
    background-color: #D2D7DF;
}

.spanel:hover {
    background-color: #353535;
    color: #D2D7DF; 
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: rgb(60, 60, 60);
}


.panel {
    padding-bottom: 25px;
    background-color: rgb(230, 230, 230);
}

.panel,
.panel:hover {
    transition-duration: 0.25s;
}

.grid-item>a>div{
    height: 150px;
}


a.null-link:hover>div{
    color: #ff000090;
}

.list-link-item>.panel {
    padding: 15px;
    font-size: 15pt;
}

p{
    text-indent: 1.5em;
}

.list{
        text-align: justify;
}

.jumbotron{
    margin-bottom: 10pt;
}

@media only screen and (min-width: 768px) {
    .form-block{
        display: flex;
        justify-content: center;
    }
    .list{
        text-align: center;
    }
}
form label, form > button{
    width: 100%;
    margin-top: 5pt;
}
