.select-media-type a{
    color: #d2d7df;
    color: #333;
}


.select-media-type,
.select-media-type div{
    display: inline;
    text-align: center;
}

.select-media-type .selected-toggle{
    background-color: #333;
    color: #d2d7df;
    padding: 3pt;
    border-radius: 50pt;
}

@media only screen and (max-width: 992px){
    iframe{
        display: none;
    }
