::-webkit-scrollbar {
    width: 0px;
}

body{
    background-color: #D2D7DF;
    padding-bottom: 100px;
}

.panel {
    padding: 5pt;
}

button{
    margin: 5pt;
}

.remove-answer, .submit{
    float: right;
}

a,
a:hover{
    color: rgb(60, 60, 60);
    text-decoration: none;
}

.spanel:hover {
    background-color: #353535;
    color: #D2D7DF;
}

.panel {
    padding-bottom: 25px;
    background-color: rgb(230, 230, 230);
}

.panel,
.panel:hover {
    transition-duration: 0.25s;
}

.table-link{
    display: block;
}

thead{
    background-color: #353535;
    color: #D2D7DF;
}
.form-error-message{
    color: #FF6060;
}