.bgimg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999999;
}


.bgimg::before{
  content: '';
  background-image: url("https://bogatyr.club/uploads/posts/2023-02/thumbs/1677300805_bogatyr-club-p-formuli-na-doske-foni-1.jpg");
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999999;
}

::-webkit-scrollbar {
    width: 0px;
}

body{
    background-color: #D2D7DF;
    padding-bottom: 100px;
}

.panel {
    padding: 5pt;
}

button{
    margin: 5pt;
}

.remove-answer, .submit{
    float: right;
}

a,
a:hover{
    color: rgb(60, 60, 60);
    text-decoration: none;
}

.spanel:hover {
    background-color: #353535;
    color: #D2D7DF;
}

.panel {
    padding-bottom: 25px;
    background-color: rgb(230, 230, 230);
}

.panel,
.panel:hover {
    transition-duration: 0.25s;
}

.table-link{
    display: block;
}

thead{
    background-color: #353535;
    color: #D2D7DF;
}
.form-error-message{
    color: #FF6060;
}

textarea{
    resize: vertical;
}

@media (max-width: 1200px) {
    @grid-float-breakpoint: 1200px;
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
  }
}