::-webkit-scrollbar {
    width: 0px;
}

body{
    background-color: #D2D7DF;
    padding-bottom: 100px;
}

.panel {
    padding: 5pt;
}

button{
    margin: 5pt;
}

.remove-answer, .submit{
    float: right;
}
