{% extends 'app/base.html' %}

{% block content %}
<div class="jumbotron">
    <div><a href="{% url 'home_page' %}" style="text-decoration: underline;">Главная</a> > <a href="{% url 'lessons_list_page' %}" style="text-decoration: underline;">Учечбный материал</a> > <b>{{ lesson.topic }}</b></div>

    {% autoescape off %}
    <div>
    {{ lesson.page }}
    </div>
    {% endautoescape %}
    <div>
        <ul class="pager">
            {% if prev_lesson %}
            <li><a class="link" href="{{ prev_lesson.get_absolute_url }}">Предыдущий</a></li>
            {% endif %}

            {% if next_lesson %}
            <li><a class="link" href="{{ next_lesson.get_absolute_url }}">Следующий</a></li>
            {% endif %}
        </ul> 
    </div>

</div>
{% endblock %}
