{% extends 'app/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'app/style/media.css' %}">
{% endblock style %}


{% block content %}
<div class="jumbotron text-center">
    <div class="text-left"><a href="{% url 'home_page' %}" style="text-decoration: underline;">Главная</a> > <b>Медиа</b></div>
    <h2><b>Медиа</b></h2>
    <p>видео и презентации</p>
    <div class="select-media-type">
            <a class="media-type {%if request.GET.media == 'VIDEO'%}selected-toggle{%endif%}" href="?media=VIDEO">VIDEO</a>
                |
            <a class="media-type {%if request.GET.media == 'SLIDES'%}selected-toggle{%endif%}" href="?media=SLIDES">SLIDES</a>
    </div>
</div>

{% include 'app/search-line.html' %}

<div>
    <div class="media video-list">

        {% for m in media %}
        <a href="{{ m.get_absolute_url }}">
            <div class="panel spanel" style="display: flex; flex-direction: row; padding: 10pt;">
                <div>
                    <iframe
                            width="400px"
                            height="300px"
                            src="{{ m.url }}"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen>
                    </iframe>
                </div>
                <div style="overflow-wrap: anywhere; padding: 10pt;">
                    <h3>{{ m.header }}</h3>
                    <p>{{ m.describe }}</p>
                </div>
            </div>
        </a>
    {% empty %}
    <h3>Mедиа отсутствует</h3>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts  %}{% endblock %}