{% extends 'app/base.html' %}

{% block style %}
            <style>
                label{
                    margin: 10pt;
                }
            </style>
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div><a href="{% url 'home_page' %}" style="text-decoration: underline;">Главная</a> > <a href="{% url 'tests_list_page' %}" style="text-decoration: underline;">Тесты</a> > <b>{{ test.topic }}</b></div>
    <h2>{{ test.topic }}</h2>
    <form>
        {% csrf_token %}
        <div style="margin-bottom: 20pt">
            {% for question in questions %}
            <div class="form-check question">
                <h3>{{ question.text }}</h3>
                {% if question.multianswer %}
                <span class="multi"></span>
                    {% for answer in question.answers %}
                        <div style="display: flex;">
                        {% if answer.right %}
                        <input type="checkbox" class="form-check-input right-answer" id="{{ forloop.parentloop.counter }}{{ forloop.counter }}">
                        {% else %} 
                        <input type="checkbox" class="form-check-input" id="{{ forloop.parentloop.counter }}{{ forloop.counter }}">
                        {% endif %}
                        <label class="form-check-label" for="{{ forloop.parentloop.counter }}{{ forloop.counter }}">{{ answer.answer }}</label></br>
                    </div>
                    {% endfor %}
                {% else %}
                    {% for answer in question.answers %}
                    <div style="display: flex">
                        {% if answer.right %}
                        <input name="{{ forloop.parentloop.counter }}" type="radio" class="form-check-input right-answer" id="{{ forloop.parentloop.counter }}{{ forloop.counter }}">
                        {% else %}
                        <input name="{{ forloop.parentloop.counter }}" type="radio" class="form-check-input" id="{{ forloop.parentloop.counter }}{{ forloop.counter }}">
                        {% endif %}
                        <label class="form-check-label" for="{{ forloop.parentloop.counter }}{{ forloop.counter }}">{{ answer.answer }}</label></br>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <input style="float: right" id="submit-button" class="btn btn-success" type="button" value="Проверить"></input>
    </form>
</div>
{% endblock %}

{% block scripts %}

<script>
    document.querySelector('#submit-button').addEventListener('click', ()=>{
        let answers = document.querySelectorAll('.form-check-input');
        for(let answer of answers){
            let label = document.querySelector(`label[for="${answer.id}"]`);
            label.parentNode.classList.remove("bg-danger");
            label.parentNode.style="";
            if (answer.checked) {
                if (answer.classList.contains('right-answer'))
                    label.parentNode.className = "bg-success";
                else
                    label.parentNode.className = "bg-danger";
            }
            else if (answer.classList.contains('right-answer')) {
                label.parentNode.className = "bg-success";
                label.parentNode.style = "height: 100%; background: repeating-linear-gradient(-60deg, #dff0d8 0, #dff0d8 3px, transparent 1px, transparent 8px);";
            }
        }

        let questions = document.querySelectorAll(".question");
        let rqcount = 0; // количество правильных ответов
        for (let question of questions){
            if (question.querySelector(".multi")) {
                let qma = question.querySelectorAll(".right-answer");
                for (let a of qma)
                    if (a.checked) rqcount++;
            }
            else {
                if (question.querySelector(".right-answer").checked) rqcount++;
            }
        }
        //сбор ответов пользователя
        let user_answers = []
        for(let question of questions){
            let question_obj = {
                "question": question.querySelector('h3').innerHTML,
                "answers": []
            }
            for (let answer of question.querySelectorAll('div')){
                if (answer.querySelector('input').checked) {
                    let answer_obj = {
                        "answer": answer.querySelector('label').innerHTML,
                        "right": answer.querySelector('input').classList.contains('right-answer')
                    };
                    question_obj['answers'].push(answer_obj);
                }
            }
            user_answers.push(question_obj)
        }

        let obj = {
            "score": rqcount,
            "answers": user_answers
        }

        fetch(window.location.href, {
            method: "post",
            body: JSON.stringify(obj),
			headers: {
				"X-CSRFToken": [$("input[name=csrfmiddlewaretoken]").val()]
			}
        }).then(response => {
            //if (response.redirected) {
            //    window.location.href = response.url;
            //}
        });
    });
</script>

{% endblock %}