{% extends 'app/base.html' %}

{% block content %}
<div class="jumbotron text-center">
    <div class="text-left">
        <a href="{% url 'home_page' %}" style="text-decoration: underline;">Главная</a> >
        <b>О проекте</b>
    </div>
    <h2><b>О проекте</b></h2>
    <p>Учебное пособие: "Физика твердых тел"</p>
</div>
<div class="jumbotron text-left">
    <h3><b>Проект</b></h3>
    <p>
        Проект представляет собой интернет версию учебного пособия "Физика твердого тела" разработанного Нарбутович К.П. и Вайтович И.М.
    </p>
    <h3><b>Тема пособия</b></h3>
    <p>
        Физика твёрдого те́ла — раздел физики конденсированного состояния, задачей которого является описание физических свойств твёрдых тел с точки зрения их атомного строения. Интенсивно развивалась в XX веке после открытия квантовой механики. Развитие стимулировалось
        широким спектром важных задач прикладного характера, в частности, развитием полупроводниковой техники.
    </p>
</div>
<div class="jumbotron text-left">
    <h3><b>Информация о коде</b></h3>
    <p>
        Клиентская часть: bootstrap jquery<br/> Серверная часть: python django<br/>Код: плохой
    </p>
</div>
<div class="jumbotron text-left">
    <h3><b>Разработчики</b></h3>
    <p>
        Разработчик: <> <br/>Руководитель: <>
    </p>
</div>
{% endblock %}