{% extends 'app/base.html' %}

{% block content %}
<div class="jumbotron text-center">
    <h2><b>Литература</b></h2>
    <small></small>
</div>


<div class="text-center row">
    {% for book in books %}
    <div class="col-md-4 grid-item">
        <a class="link {% if book.link is None %}null-link{% endif %}" href="{% if book.link is not None %}{{ book.link }}{% else %}#{% endif %}">
            <div class="panel spanel">
                <h4 class="panel-heading" style="white-space: wrap;"><b>{{ book.title }}</b></h4>
                <div class="panel-body">{{ book.author }}</div>
            </div>
        </a>
    </div>
    {% empty %}
    <h3>Литература отсутствует</h3>
    {% endfor %}
</div>
{% endblock %}